@bgWhite: #fefefe;
@linkColor: #fac03d;
@colorH: #333333;
@colorInlineBGCode: #f9f2f4;
@colorInlineCode: #ffbcd4;
@colorIt: #aabcd3;
@colorSI: #aa56d3;
@colorPreview: #2c3f51;
@bgNote: #00bcd4;
@colorToc: #5c5c5c;
@colorPrimary: #ffffff;
@isDarkMode: true;
@colorListChecked: if((@isDarkMode), #888888, #aaaaaa);

* {
  font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti",
    "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, Song, sans-serif;
}

::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}
#editor_header_bar {
  overflow-y: hidden;
  white-space: nowrap;
  font-family: Damascus;

  .header_btn_close_btn,
  .header_btn_close_btn_dark {
    margin: auto;
    margin-left: 8px;
    height: 16px;
    > img {
      margin: auto;
    }
  }

  .header_btn {
    .header_btn_text {
      margin-right: 8px;

      line-height: 16px;
    }

    > div {
      height: 16px;
      margin: auto;
    }
  }
}

#editor_header_bar::-webkit-scrollbar {
  display: none;
}

#editor_container_holder {
  overflow-y: hidden;
}
.lowbee-markdown-preview {
  font-size: 15.11111111111111px;
  color: @colorPreview;
  font-family: ui-monospace;
  padding: 1em;
  width: 90%;
  background: @bgWhite;
  display: inline-flex;
  flex-direction: column;

  ul,
  ol {
    margin-bottom: 0.55em;
    line-height: 0.1em;
    font-size: 16.11111111111111px;
  }

  ui {
    display: block;
    list-style-type: disc;
  }

  ul,
  li {
    line-height: 0 !important;

    * {
      line-height: 1.3;
      margin: 4px 0px !important;
    }
  }

  li > p {
    margin: 0px;
  }

  // li:hover {
  // list-style-type: none;
  // }
  .list-todo {
    padding-inline-start: 0;
    margin-block-start: 0;
    * {
      list-style-type: none;
      margin: 0px 0px !important;
    }

    li {
      margin: 1px 0px !important;
    }
    background-color: @colorInlineCode;

    border-radius: 4px;
    padding: 20px;
    padding-right: 200px;
  }

  .list-item-checkbox-checked {
    .ms-Checkbox-text {
      color: @colorListChecked;
    }
  }

  .list-item-checkbox-checked:hover {
    .ms-Checkbox-checkbox {
      border-color: @colorInlineCode;
      background-color: @colorInlineCode;
    }
  }

  .checkbox-container {
    margin: auto;
  }
  .ms-Checkbox-text {
    color: @colorPreview;
    padding-left: 16px;
  }
  // .ms-Checkbox-text:hover {
  //     color: @colorPreview;
  //     // font-size: large;
  // }

  .ms-Checkbox-checkbox {
    border-color: @colorInlineCode;
    background-color: @colorInlineCode;
    border-radius: 9px;
  }

  .ms-Checkbox-checkbox:hover {
    color: @bgWhite;
  }

  .ms-Checkbox-checkmark {
    color: @bgWhite;
    margin-right: 20px !important;
  }

  .react-list-item-checkbox {
    margin: auto 0 !important;

    padding: 8px;
    // background-color: #fefefe;
    width: 90%;
    background-image: linear-gradient(
      to right,
      @bgWhite 0%,
      @colorInlineCode 80%,
      #0000
    );
    border-radius: 4px;
    * {
      margin: auto 0 !important;
    }
  }

  text,
  blockquote,
  ul,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span {
    white-space: normal;
    width: 100%;
    word-break: break-all;
    line-height: 1.5;
  }

  img {
    width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    color: @colorH;
    margin: 1.2em 0 0.6em 0;
  }

  .markdown_code {
    overflow-x: visible !important;
    border-radius: 8px;
    min-width: 2000px;
  }

  a,
  .markdown_link {
    color: @linkColor;
    text-decoration: none;
    font-size: 14.222222222222221px;
  }

  .toc {
    // background: @colorToc;
    border-radius: 8px;
    border-color: @linkColor;
    border-top-width: 1px;
    border-left-width: 1px;
    border-style: solid;
    padding: 8px;
    
    > p {
      margin-block: 0;
      margin-inline: 0;
    }
  }

  .note_tag {
    // background: @bgNote;
    padding: 4px;
    padding-left: 16px;
    margin: 0px;
    // border-radius: 8px;
    border-left: 4px solid #e27e7dee;
  }

  i {
    font-weight: bold;
    color: @colorIt;
  }

  strong {
    color: #00aaff;
  }

  .inline {
    color: @colorInlineCode;
    background-color: @colorInlineBGCode;
    border-radius: 4px;
    padding: 0px 4px;
    // margin:4px;
  }

  .header-container-item {
    // background-color: @ffbcd433;
    // border: 0.1px solid #00bcd4;
    // border-radius: 12px;
    padding: 8px;
  }

  strong > i {
    color: @colorSI;
  }

  h1 {
    font-size: 31px;
    border-bottom: 1px solid #aaaaaa;
    padding-bottom: 8px;
  }

  h2 {
    font-size: 28px;
    border-bottom: 1px solid #aaaaaa;
    padding-bottom: 8px;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 19px;
  }

  h6 {
    font-size: 16px;
  }

  .markdown_link:hover,
  a:hover {
    border-bottom: 1px solid;
    cursor: pointer;
  }

  .list-item-add-bar-container {
    background-color: fade(@colorInlineCode, 70%);
    border-radius: 4px;
    height: 40px;
    border-width: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    outline: none;
    padding-left: 20px;
    caret-color: @bgWhite;
    color: @bgWhite;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 200px;

    > span {
      width: 20px;
      font-size: 20px;
    }

    .list-item-add-bar-input {
      height: 40px;
      border-width: 0;
      padding: 0;
      margin: 0;
      width: 100%;
      outline: none;
      caret-color: @bgWhite;
      color: @bgWhite;
      height: 100%;
      background-color: transparent;
      padding-left: 20px;
      font-size: 16px;
    }

    .list-item-add-bar-input::-webkit-input-placeholder {
      color: @bgWhite;
      font-size: 16px;
    }

    .list-item-add-icon {
      margin-right: 8px;
      display: flex;
      align-items: center;
      > div {
        height: 20px;
        background-color: @bgWhite;
        width: 20px;
        border-radius: 4px;
      }
    }
  }

  .list-item-add-bar-container:hover {
    .list-item-add-icon {
      > div {
        background-color: @colorInlineBGCode;
      }
    }
  }
}
