[submodule "plugins/flutter_native_hotkey"]
	path = plugins/flutter_native_hotkey
	url = git@github.com:kfdykme/flutter_native_hotkey.git
[submodule "plugins/flutter_desktop_cef_web"]
	path = plugins/flutter_desktop_cef_web
	url = git@github.com:kfdykme/flutter_desktop_cef_web.git
[submodule "plugins/libdeno_plugin"]
	path = plugins/libdeno_plugin
	url = git@github.com:kfdykme/libdeno_plugin
[submodule "submodules/monaco-editor"]
	path = submodules/monaco-editor
	url = https://github.com/microsoft/monaco-editor.git
